<h1><b>TinyApp</b></h1>
<p><a href="/urls/new"> Create New TinyURL </a></p>



<%= email %>


<% if(userID){ %>
 <form method="POST" action = "/logout" >
   <button>Logout</button>
 </form>
<% } else{ %>
<p><a href="/register"> Register </a></p>
<p><a href="/login"> Login </a></p>
<% } %>