<h1><b>TinyApp</b></h1>
<p><a href="/urls/new"> Create New TinyURL </a></p>

<%= username %>

  <form action="/login" method="post">
  <input type="text" name="username" placeholder="Login Id">
  <input type="submit" name="Login">
  </form>

<% if(username){ %>
 <form method="POST" action = "/logout" >
   <button>Logout</button>
 </form>
<% } else{ %><a href="#"></a>
<button> <a href="/urls/new">Create a login</a> </button>
<% } %>