<!DOCTYPE html>
<html lang="en">
<head>
        <title>Login</title>
</head>
<body>
    <h1>LOGIN</h1>
    <% include partials/_header.ejs %>
    <form method="POST" action="/login">
    <input type="text" placeholder="Enter Email" name="email" >
    <input type="password" placeholder="Enter Password" name="password" >
    <button>Login</button>
    </form>
</body>
</html>