<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URLs - TinyApp Example</title>
</head>
<body style="font-size:20px; padding:50px;">
<% include partials/_header.ejs %>
<!-- views/partials/header.ejs -->


<!-- <h4><b>My URLs</b></h4> -->
    <% for(let shortURL in urls){ %>
    <%=shortURL%> :<%= urls[shortURL]%> <form method="POST" action="/urls/<%=shortURL%>/delete"> 
      <a href="/urls/<%=shortURL%>"> Edit </a> <button class="btn btn-primary">Delete</button> </form>
    <br>
   <% } %>


</body>
</html>